#ProductsContainer {
  padding: 20px;
  margin-top: 20px;
  display: grid;
  float: right;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
a {
  text-decoration: none;
}
.ProductItem {
  border: 1px solid black;
  border-radius: 5px;
  height: 340px;
  color: black;
  padding: 0 10px;
}
.ProductItem > img {
  object-fit: scale-down;
  height: 150px;
  width: 100%;
}
.ProductItem > h3 {
  text-align: center;
}
.ProductItem > p {
  text-align: justify;
}
