footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: var(--main-color);
  text-align: center;
  display: inline-block;
}
footer p {
  color: var(--secondary-font-color);
}
