.loader {
  border: 12px solid #f3f3f3; /* Light grey */
  border-top: 12px solid var(--main-color); /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
